<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="*.js" verb="*" modules="iisnode" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits>
                    <headerLimits>
                        <add header="Content-Type" sizeLimit="30000000" />
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
            <clear />
                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions> 
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions> 
                    <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Serve Node" stopProcessing="true">
                    <match url=".*"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="index.js"/>
                </rule>
                <!--<rule name="Hide .html ext" enabled="true">
                    <match url="^(.*)" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="{R:0}.html" />
                </rule>-->
                <!--<rule name="Redirecting .html ext" enabled="true" stopProcessing="true">
                    <match url="^(.*).html" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="^(.*)\.html$" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="{R:1}" />
                </rule>-->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>